:root {
  --primary_text: #fff;
  --primary_bg: #9e4a55;
  --primary_bg300: #c9717e;
  --secondary_text: #2d2d2d;
  --secondary_bg: #fdf8f8;
  --seconady_bg300: #f3d0d5;

  --primary_action_bg: #c9717e;
  --primary_action_tx: #fff;
  --secondary_action_bg: #c9a84c;
  --secondary_action_txt: #fff;

  --alert: #c21010;
  --warning: #bb980d;
  --info: #3236ae;
}
